<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gary.database.product.dao.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.gary.database.product.dao.entity.Product">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PRICE" property="price"/>
        <result column="CREATED_DT" property="createdDt"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="UPDATED_DT" property="updatedDt"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="VERSION" property="version"/>
    </resultMap>

    <select id="pageProduct" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT ID, `NAME`, PRICE,CREATED_DT
        from product
        where 1 = 1

        <if test="params!=null and params.record != null">
            <if test="params.record.name != null and params.record.name != ''">
                <bind name="namePattern" value="'%' + params.record.name + '%'"/>
                and `NAME` LIKE #{namePattern}
            </if>
        </if>

        <if test="params!=null and params.orderByClause != null and params.orderByClause !=''">
            order by ${params.orderByClause}
        </if>

    </select>

</mapper>
