<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.gary.database.system.dao.mapper.SysFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.gary.database.system.dao.entity.SysFile">
        <id column="ID" property="id"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="ORIGINAL_FILE_NAME" property="originalFileName"/>
        <result column="USER_ID" property="userId"/>
        <result column="FULL_PATH" property="fullPath"/>
        <result column="REMARK" property="remark"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DT" property="createdDt"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DT" property="updatedDt"/>
        <result column="VERSION" property="version"/>

    </resultMap>

</mapper>
